body{
    margin: 0;
    padding: 0;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
.container{
    width: 98%;
    margin: 10px  auto!important;
    
}

.invalidInput {
    border-color: #d40629!important;
    color: #d40629;
}

.invalitLabel {
    color: #d40629;
}
.create_organization{
    width: 100%;
    color: #6b7280;
    text-align: center;
    margin-top: 2rem;
}
.greenLabel{
    color: #33B679;
}