body{
    margin: 0;
    padding: 0;
}
.container{
    width: 98%;
    margin: 10px  auto!important;
}

.invalidInput {
    border-color: #d40629!important;
    color: #d40629;
}

.invalitLabel {
    color: #d40629;
}